.DS_Store
.claude
.gocache-tdx/
.stream/
.tmp/
.trae/
.ttadk/
.playwright/
/test_akshare.py
/test_fixed.py
/test_pdf_export.py
/test_pe_pb.py
/venv
/__pycache__
# 环境变量文件
.env
/.cursor
/openspec
TradEnv/
.trae/
**/__pycache__/**
frontend/node_modules/
.claude/
.gocache-tdx/
tdx-api/data/
tdx-api/web/data/database/
tdx-api/web/stock-web
